body {
    color:#020202;
    background-color: #EDF7F4;
}

.stButton>button {
    color: #020202;
    /* color: #c7fdff; */
    border-radius: 50%;
    height: 3em;
    width: 3em;
}

.stTextInput>div>div>input {
    color: #020202;
}